.home
    .canvas
        min-height: 100vh
        align-items: center
        .content
            width: c_x
            display: flex
            flex-wrap: wrap
            min-width: c_x_min
            margin-top: -4rem
            justify-content: center
            +min(1)
                width: c_x_b1
            +min(2)
                width: 50%
                min-width: rem(600px)
            +min(3)
                width: 50%
                max-width: rem(900px)
            header
                width: 25%
                display: flex
                flex-flow: column wrap
                //align-items: flex-start
                justify-content: space-between
                padding: 1rem
                background: _25
                h1
                    color: _85
                    margin: 0
                    align-self: center
                    //background green
                nav
                    //background tomato
                    ul li
                        padding-left: 1rem
                        //display: inline
            img
                width: 75%
