home_border_radius = home_br = 5px

.home
    .footer-3
    .header-3
        display none
    .canvas
        min-height: 100vh
        align-content: flex-start
        +min(2)
            align-content: center
        .content
            width: c_x
            display: flex
            min-width: c_x_min
            justify-content: center
            margin-top 2rem
            +min(1)
                width: c_x_b1
            +min(2)
                width: 70%
                min-width: rem(850px)
                margin-top 0
            header
                width: 100%
                text-align center
                display: flex
                flex-flow row wrap
                justify-content: space-between
                +min(2)
                    width: 300px
                    height 70vh
                    min-height rem(500px)
                    flex-flow: column wrap
                    margin 0
                    padding: 1rem
                    text-align left
                    border-radius: home_br 0 0 home_br
                    background: _20
                h1
                    font-size: 2.5rem
                    position: relative
                    width: 100%
                    margin: 0 0 1.5rem
                    text-align center
                    z-index 2
                    +min(2)
                        order: 2
                        color: _75
                        margin: 0 0 .4vw
                        align-self: center
                        font-size: 1.6rem
                        text-shadow: -1px -1px 0 _15
                    +min(3)
                        margin: 0 0 .5vw
                        font-size: 1.8rem
                hr
                    margin: 0
                    hr-gradient to right, rgba(200,200,200,.1), _70 50%, rgba(200,200,200,.1) 100%
                    box-shadow 0 1px 1px _75
                    +min(2)
                        display: none
                nav
                    width 100%
                    padding: 1.6rem 0
                    +min(1)
                        padding: 1.6rem
                    +min(2)
                        order: 1
                    ul
                        li
                            display inline
                            margin: 0
                            padding-left: .8rem
                            +min(2)
                                margin 1rem 0
                                display: block
                                padding-left: 0
                            &:first-of-type
                                margin-top: 0
                            a
                                font-size: rem(16px)
                                font-weight 500
                                //letter-spacing 1px
                                text-transform uppercase
                                +min(2)
                                    font-size: 1.1rem
                                    font-weight: 400
                                    letter-spacing: 0
                                    text-transform: none
                                    text-shadow: -1px -1px 0 _15
                                    transition: color 250ms
                                    anchors(dark, nav)
                                    &:hover
                                        text-shadow: -1px -1px 0 _20
