extends ../../_/body

//- variables
block context
    -
        bodyId = 'about';
        bodyClass = 'about index';
        pageTitle = 'About | Amanda Kreitzer';

        pathImages = '/assets/images/about/_linked/_verbatim/';

//- body
block main

    main(role="main")

        .canvas

            .content

                h2.heading-page About

                article

                    //- Markus Kreitzer

                    p Amanda Kreitzer was born in the remote town of Gobabis, Namibia where she grew up on a sheep and cattle farm. After living and traveling abroad in Europe and the US, she settled down in Wellington, South Africa in 1995. Wellington provided the backdrop as a charming commuter town outside Cape Town, where nature provided a rich diversity of unsullied beauty for the artist's eye.

                    p It was here that Amanda started painting, driven by her passion for finding a definition for art that captured beauty through painting, literature, and even news, in a way that inspired hope for the community. She also founded and served as the editor-in-chief of the local news magazine, #[i Val du Charron], where she was famous for her monthly prose columns.

                    p Amanda primarily works with oil on canvas and explores the innocence of rural farming communities, not only in her home town but even as far abroad as Amish communities in the United States. She loves capturing this emotion through human and animal portraits, still life floral arrangements, and landscapes of storybook quality.

                    img(
                        src=`${pathImages}amanda-kreitzer.webp`
                        width="400" height="auto"
                        alt="artist Amanda Kreitzer")

                    p Her eye for capturing serene beauty continues to grow in her recent travels to Israel and the United States. In her own words, "I feel compelled to paint once I have absorbed myself into a particular scene. That is what I want to capture—a mood."

                    p —Markus Kreitzer

                    //- Jack Louw

                    p Unlike many successful artists that obtained tertiary education, Amanda Kreitzer depends solely on her raw talent to create her works of art.

                    p Kreitzer began painting in 1994. She has a driven personality that effectively manipulates her knowledge of portrait studies, landscapes, flowers, and farm animal still life studies. Her paintings are realistic and romanticized with a quaint ecstatic result.  Kreitzer has a large following of admirers of her tender and austere talent.

                    p —Jack Louw, former curator of the #[i Sasol Art Museum] at the University of Stellenbosch, South Africa

                    h6 Exhibitions

                    p #[span.date 2005] -&nbsp;
                        | Museum, Wellington; Opened by local businessman Basie Basson
                    p #[span.date 2009] -&nbsp;
                        | Simonsvlei Cellar, Paarl; Opened by former art teacher and professional artist Trevor A. Cleevely
                    p #[span.date 2012] -&nbsp;
                        | Kleinevalleij, Wellington; Opened by former Springbok rugby player Schalk Burger Snr.

                    h6 Awards
                    p #[i Wellington ATKV] — Award for Cultural Contribution towards Wellington Community
                    p #[i Wellington Rapportryers] — Award for Journalistic Contribution towards Wellington Community

                hr
