.contact
    .canvas
        align-items: flex-start
        margin-bottom 6rem
        .content
            justify-content: center
            +min(2)
                margin 10rem 0
            .form-advice
                margin-bottom 3rem
                p
                    width 85%
                    margin 0 auto
                    font-size 1.2rem
                    text-align center
                    +min(1)
                        width 75%
                    +min(2)
                        width 55%
                    +min(3)
                        width 40%

// success/failure pages
body[class^="contact-"]
    main
        .content
            h1
                width 100%
                text-align center
                +max(2)
                    font-size 2rem
                    letter-spacing -1px
                    margin-top 5rem
            h4
                width 100%
                text-align center
                font-weight 600
                +max(2)
                    font-size 1.2rem
