.contact
    .canvas
        align-items: flex-start
        .content
            margin 10rem 0
            justify-content: center
            .form-advice
                margin-bottom 2rem
                p
                    width 85%
                    margin 0 auto
                    font-size 1.2rem
                    text-align center
                    +min(1)
                        width 75%
                    +min(2)
                        width 55%
                    +min(3)
                        width 40%
