gallery_column_width = gallery_cw = 212px

.gallery
    .canvas
        align-items: flex-start
        +nav-1()
            margin-bottom 7rem
        .content
            margin 10rem 0
            justify-content: center
            .grid
                display: grid
                grid-auto-flow: row
                grid-template-rows: auto
                grid-template-columns: repeat(3, gallery_cw)
                column-gap: 2rem
                row-gap @column-gap
                +min(2)
                    grid-template-columns: repeat(4, gallery_cw)
                +min(3)
                    grid-template-columns: repeat(5, gallery_cw)
                .item
                    .thumbnail
                        display flex
                        position: relative
                        border-radius: 3px
                        background: _55
                        box-shadow -1px 1px 1px _45, -2px 2px 2px _55
                        &-image
                            border-radius: 3px
                        &:hover
                            .thumbnail-id
                                opacity: .85
                            .thumbnail-title
                                opacity: 1
                        &-id, &-title
                            color: rgba(255,255,255,0.9)
                            transition: opacity .3s ease
                        &-id
                            position absolute
                            top: 1rem
                            right: 1.4rem
                            opacity .65
                            font-size 1.1rem
                            text-shadow 1px 1px 2px rgba(0,0,0,0.8)
                            z-index 3
                        &-title
                            display: flex
                            position: absolute
                            justify-content: center
                            align-items: flex-end
                            opacity 0
                            top: 0
                            left: @top
                            width: gallery_cw
                            height: @width
                            padding: 1rem
                            text-shadow -2px 2px 6px rgba(0,0,0,0.5)
                            border-radius: 3px
                            background: radial-gradient(
                                rgba(0,0,0,0.2) 0%,
                                rgba(0,0,0,0.8) 100%)
                            z-index 2
                    &.sold .thumbnail
                        &::before, &::after
                            position absolute
                            transition: opacity .3s ease
                        &:hover
                            &::before
                            &::after
                                opacity 0
                        &::before
                            right 0
                            bottom 0
                            size(0)
                            content ''
                            border-style: solid
                            border-width: 0 0 3.5rem 3.5rem
                            border-color: transparent transparent _50
                        &::after
                            right .3rem
                            bottom .8rem
                            font-size .75rem
                            content 'sold'
                            color _100
                            z-index 2
                            text-shadow 1px -1px 0 darken(_50, 38%)
                            text-transform uppercase
                            transform: rotate(-45deg)
                    .modal
                        display flex
                        position: fixed
                        size(100%)
                        top: 0
                        left @top
                        opacity 0
                        align-items center
                        justify-content center
                        background rgba(0,0,0,.86)
                        transition: opacity .5s ease
                        pointer-events none
                        &:target
                            opacity 1
                            z-index 4
                            pointer-events: auto
                            & figure
                                transform: scale(1)
                        .close
                            display block
                            &::before
                                position fixed
                                top 0
                                left @top
                                size(100%)
                                content ''
                                cursor default
                            &::after
                                display flex
                                position absolute
                                top 2rem
                                right @top
                                size(2.8rem)
                                content '×'
                                font-size 2.4rem
                                cursor pointer
                                align-items center
                                justify-content center
                                color rgba(255,255,255,0.2)
                                border-radius 3px
                                transition all 200ms linear
                                box-shadow inset 0 0 5px rgba(0,0,0,0.6)
                                background rgba(0,0,0,0.5)
                                z-index 1
                            &:hover::after
                                color rgba(255,255,255,0.6)
                        figure
                            transform: scale(0)
                            transition: .5s ease
                            img
                                width auto
                                max-height 60vh
                                border-radius: 5px
                                border 1px solid rgba(255, 255, 255, .6)
                                box-shadow -5px 5px 10px rgba(0,0,0,0.4)
                            figcaption
                                display flex
                                flex-flow row wrap
                                justify-content space-between
                                margin-top 1.3rem
                                padding 1.3rem 1.9rem 1.7rem
                                font-style normal
                                border-radius: 3px
                                background _100
                                box-shadow -5px 5px 10px rgba(0,0,0,0.4)
                                .meta
                                    width 80%
                                    text-align left
                                    &-inner
                                        display flex
                                        flex-flow row wrap
                                        margin-top 1rem
                                        padding-top: @margin-top
                                        border-top: 1px solid _80
                                        dl:nth-of-type(even)
                                            margin: 0 1.2rem
                                            padding: @margin
                                            border: 1px solid _80
                                            border-top: 0
                                            border-bottom: 0
                                            &:last-of-type
                                                margin-right 0
                                                padding-right 0
                                                border-right 0
                                        dt
                                            font-weight 600
                                            font-size .9rem
                                            text-transform uppercase
                                        dd
                                            font-size 1.1rem
                                            padding-top .4rem
                                    span
                                        font-size 1.1rem
                                        line-height 1.3
                                        &.title
                                            display block
                                            font-size 1.6rem
                                            font-weight 600
                                        &.id
                                        &.artist
                                            font-size .9rem
                                        &.artist::after
                                            content '\00A0\00A0\00B7\00A0\00A0'
                                .actions
                                    display flex
                                    flex-flow row wrap
                                    .price
                                        width 100%
                                        color darkred
                                        font-size 1.4rem
                                        align-self center
                                    .buy
                                        width 100%
                                .buy
                                    button(
                                        type: 'fill',
                                        color: _20,
                                        rounded: true,
                                        font-size: .9rem,
                                        padding: 0,
                                        border-width: 1px
                                    )
                                    font-weight: 600
                                    text-transform: uppercase
