extends ../../_/body

//- variables
block context
    - bodyId = 'contact-failure';
    - bodyClass = 'contact-failure';

//- body
block main

    main(role="main")

        .canvas

            .content
                h1 Message failed &nbsp;&#128542;&nbsp;
                h4 Something went awry..#[br]Please try again.
