extends ../../_/body

//- variables
block context
    -
        bodyId = 'contact';
        bodyClass = 'contact index';
        pageTitle = 'Contact | Amanda Kreitzer';

block header
    +header-3("/", "", "Amanda Kreitzer", [
        {
            href: "/",
            name: "Home"
        },
        {
            href: "/gallery",
            name: "Gallery"
        },
        {
            href: "/about",
            name: "About"
        },
        {
            href: "/contact",
            name: "Contact"
        }
    ])

//- body
block main

    main(role="main")

        .canvas

            .content

                h2.heading-page Contact

                .form-advice
                    p If Amanda Kreitzer's unique artistic interpretation delights your senses and you would like to have her brush add a distinct ambience to your home, you'll be glad to know that she accepts commissioned orders. Use the form below to get in touch and discuss your idea with her.

                +form-1({
                    legend: {
                        text: "Post Box",
                        center: true,
                    },
                    phone: true,
                    select: {
                        name: "subject",
                        label: "Subject:",
                        options: [
                            { name: "Purchase inquiry", value: "purchase inquiry", selected: "selected" },
                            { name: "Commission order", value: "commission order" },
                            { name: "Shipping", value: "shipping" },
                        ]
                    }
                })
