extends ../../_/body

//- variables
block context
    - bodyId = 'contact-success';
    - bodyClass = 'contact-success';

//- body
block main

    main(role="main")

        .canvas

            .content
                h1 &#128238; Message sent.
                h4 Thanks for the mail.#[br]We'll respond soonest.
