/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━  CUSTOM  ━━━━━━━━━━━━━━━━━━━━━━━━━━━*/

.logo // a.logo
    color: _30
    font-family: $cursive
    font-weight: normal
    font-style: normal
    font-variation-settings: 'wght' 700
    letter-spacing: normal
    text-transform: none
    user-select: none
    &:hover
        text-decoration: none
