extends ../../_/body

//- variables
block context
    -
        bodyId = 'gallery';
        bodyClass = 'gallery index';
        pageTitle = 'Gallery | Amanda Kreitzer';

        artist = 'Artist: Amanda Kreitzer';
        pathImages = '/assets/images/gallery/_linked/_verbatim/';
        imgThumbWidth = '100%';
        imgThumbHeight = 'auto';
        imgWidth = '100%';
        imgHeight = 'auto';

//- body
block main

    main(role="main")

        .canvas

            .content

                h2.heading-page The Gallery

                .gallery-main

                    include _/54
                    include _/53
                    include _/52
                    include _/51
                    include _/50
                    include _/49
                    include _/48
                    include _/47
                    include _/46
                    include _/45
                    include _/44
                    include _/43
                    include _/42
                    include _/41
                    include _/40
                    include _/39
                    include _/38
                    include _/37
                    include _/36
                    include _/35
                    include _/34
                    include _/33
                    include _/32
                    include _/31
                    include _/30
                    include _/29
                    include _/28
                    include _/27
                    include _/26
                    include _/25
                    include _/24
                    include _/23
                    include _/22
                    include _/21
                    include _/20
                    include _/19
                    include _/18
                    include _/17
                    include _/16
                    include _/15
                    include _/14
                    include _/13
                    include _/12
                    include _/11
                    include _/10
                    include _/9
                    include _/8
                    include _/7
                    include _/6
                    include _/5
                    include _/4
                    include _/3
                    include _/2
                    include _/1

            +nav-1({
                target: "gallery",
                direction: "prev",
                icon: "nav-1-fill",
            })
