+carousel-1()
    height 65vh
    +min(1)
        height 70vh
    +min(2)
        flex 1
        min-height rem(500px)
    .slide
        border-radius: 5px
        object-position: top center
        +min(2)
            border-radius: 0 5px 5px 0
