.about
    .canvas
        align-items: flex-start
        .content
            margin 10rem 0
            justify-content: center
            article
                column-count: 3
                column-gap: 8rem
                column-rule: 1px solid _85
                img
                    margin 1.5rem 0
                    border-radius 3px
                p
                    dropcap('', 4.3rem, '', '', .6rem .45rem 0 -.3rem)
                    font-size 1.15rem
            hr
                margin: 7rem 0 0
                hr-gradient to right, rgba(0,0,0,.02), _85 50%, rgba(0,0,0,.02) 100%
