footer(
    class="footer-3"
    role="contentinfo"
    itemscope
    itemtype="https://schema.org/WPFooter")

    div

        .left

            ul
                li &copy; Amanda Kreitzer
                li: a(href="/contact/") Contact

        .right

            ul
                li: a(href="https://www.instagram.com/amandakreitzerart/").i i
                li: a(href="https://fb.me/amandakreitzerart/").f f
