gallery_column_width_breakpoint_0 = gallery_cwb_0 = 34vw
gallery_column_width_breakpoint_0 = gallery_cwb_1 = 22vw
gallery_column_width_breakpoint_0 = gallery_cwb_2 = 14vw
gallery_column_width_breakpoint_0 = gallery_cwb_3 = 212px

.exhibitions
    .canvas
        align-items: flex-start
        +nav-1()
            margin 5rem 0
        .content
            justify-content: center
            +min(2)
                margin 10rem 0
            .grid
                display: grid
                grid-auto-flow: row
                grid-template-rows: auto
                grid-template-columns: repeat(2, gallery_cwb_0)
                column-gap: 7.5vw
                row-gap @column-gap
                +min(1)
                    column-gap: 5vw
                    row-gap @column-gap
                    grid-template-columns: repeat(3, gallery_cwb_1)
                +min(2)
                    column-gap: 2.8vw
                    row-gap @column-gap
                    grid-template-columns: repeat(4, gallery_cwb_2)
                +min(3)
                    column-gap: rem(38px)
                    row-gap @column-gap
                    grid-template-columns: repeat(5, gallery_cwb_3)
                .item
                    min-width 110px
                    .thumbnail
                        display flex
                        align-items flex-start
                        position: relative
                        width: gallery_cwb_0
                        height: @width
                        border-radius: 3px
                        background: _55
                        box-shadow -1px 1px 1px _45, -2px 2px 2px _55
                        +min(1)
                            width: gallery_cwb_1
                            height: @width
                        +min(2)
                            width: gallery_cwb_2
                            height: @width
                        +min(3)
                            width: gallery_cwb_3
                            height: @width
                        &-image
                            position absolute
                            size(100%)
                            top: 0
                            right: 0
                            border-radius: 3px
                            object-fit: cover
                            object-position: center
                        &:hover .thumbnail-title
                            opacity: 1
                        &-title
                            display: flex
                            position: absolute
                            justify-content: center
                            align-items: flex-end
                            opacity 0
                            top: 0
                            left: @top
                            width: gallery_cwb_0
                            height: @width
                            padding: 1rem
                            color: rgba(255,255,255,0.9)
                            text-align center
                            text-shadow -2px 2px 6px rgba(0,0,0,0.5)
                            border-radius: 3px
                            transition: opacity .3s ease
                            background: radial-gradient(
                                rgba(0,0,0,0.2) 0%,
                                rgba(0,0,0,0.8) 100%)
                            z-index 2
                            +min(1)
                                width: gallery_cwb_1
                                height: @width
                            +min(2)
                                width: gallery_cwb_2
                                height: @width
                            +min(3)
                                width: gallery_cwb_3
                                height: @width
                    .modal
                        display flex
                        position: fixed
                        size(100%)
                        top: 0
                        left @top
                        opacity 0
                        align-items flex-start
                        justify-content center
                        background _100
                        transition: opacity .5s ease
                        pointer-events none
                        +min(2)
                            align-items center
                            background rgba(0,0,0,.86)
                        &:target
                            opacity 1
                            z-index 4
                            overflow: scroll
                            pointer-events: auto
                            +min(2)
                                overflow: hidden
                            & figure
                                transform: scale(1)
                        .close
                            display block
                            &::before
                                position fixed
                                top 0
                                left @top
                                size(100%)
                                content ''
                                cursor default
                            &::after
                                display flex
                                position fixed
                                top 1rem
                                right @top
                                size(2.8rem)
                                content '×'
                                font-size 2.4rem
                                cursor pointer
                                align-items center
                                justify-content center
                                color rgba(255,255,255,0.6)
                                border-radius 50%
                                transition all 200ms linear
                                box-shadow inset 0 0 5px rgba(0,0,0,0.4)
                                background rgba(0,0,0,0.3)
                                z-index 1
                                +min(2)
                                    position: absolute
                                    top 2rem
                                    right @top
                                    border-radius 3px
                                    color rgba(255,255,255,0.2)
                                    background rgba(0,0,0,0.5)
                            &:hover::after
                                color rgba(255,255,255,0.6)
                        figure
                            transform: scale(0)
                            transition: .5s ease
                            +max(2)
                                display flex
                                height 100%
                                flex-direction: column
                            img
                                display block
                                width 100%
                                height auto
                                margin 0 auto
                                +min(2)
                                    width auto
                                    max-height 65vh
                                    border-radius: 3px 3px 0 0
                                    border 1px solid rgba(255, 255, 255, .6)
                                    box-shadow -5px 5px 10px rgba(0,0,0,0.4)
                            figcaption
                                display flex
                                flex-flow row wrap
                                justify-content center
                                padding 1.8rem 0
                                font-style normal
                                background _100
                                +max(2)
                                    flex 1
                                +min(2)
                                    justify-content space-between
                                    padding 1.3rem 0
                                    border-radius: 0 0 3px 3px
                                    box-shadow -5px 5px 10px rgba(0,0,0,0.4)
                                .meta
                                    width 100%
                                    text-align center
                                    &_title
                                        display block
                                        font-size 1.4rem
                                        margin-bottom .4em
                                    &_exhibition, &_year
                                        color _50
                                        font-size 1rem
                                    &_year::after
                                        content '\00A0\00A0\00B7\00A0\00A0'

