.exhibitions
    .canvas
        align-items: flex-start
        +nav-1()
            margin 5rem 0
        .content
            justify-content: center
            +min(2)
                margin 10rem 0
